Repository kimata/rasp-aqua: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, renovate

deploy:
  stage: deploy
  needs:
  - test-walk-through
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/rasp-shutter:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment rasp-shutter

renovate:
  stage: renovate
  image:
    name: registry.green-rabbit.net:5000/kimata/local_renovate:38
    entrypoint:
    - ''
  script:
  - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

fix
  .gitlab-ci.yml
Due: none

fix
  pyproject.toml
Due: none

fix
  .gitlab/agents/pod-rollout/config.yaml
Due: none

fix
  src/rasp_aqua/scheduler.py
  tests/test_basic.py
Due: deploy

fix: 終了処理を追加
  src/rasp_aqua/control.py
Due: deploy

fix
  src/app.py
Due: deploy

fix: タイムゾーンを設定ファイルで指定可能にした
  config.example.yaml
  src/rasp_aqua/control.py
  src/rasp_aqua/scheduler.py
Due: deploy

fix
  .gitlab-ci.yml
  pyproject.toml
Due: none

fix: コードを整理
  src/app.py
  tests/test_basic.py
Due: deploy

fix
  renovate.json
Due: renovate

fix: pre-commit を設定
  .pre-commit-config.yaml
Due: none

fix: GitHub Actions を設定
  .github/workflows/regression.yaml
Due: none

fix
  .gitlab-ci.yml
  Dockerfile
  pyproject.toml
  src/healthz.py
Due: deploy

fix
  .gitlab-ci.yml
  src/healthz.py
  tests/test_basic.py
Due: deploy

fix: 不要なライブラリを削除
  pyproject.toml
Due: none

fix
  src/app.py
  src/healthz.py
Due: deploy

fix: コードを整理
  pyproject.toml
  src/rasp_aqua/control.py
  src/rasp_aqua/scheduler.py
Due: deploy

fix
  src/rasp_aqua/control.py
Due: deploy

fix
  .dockerignore
  .gitlab-ci.yml
  pyproject.toml
  script/buildkitd.toml
  src/healthz.py
Due: deploy

fix
  .python-version
  Dockerfile
  pyproject.toml
Due: none

fix
  .gitlab-ci.yml
  src/app.py
  tests/test_basic.py
Due: deploy

fix: YAML のフォーマットを設定
  .pre-commit-config.yaml
Due: none

fix: YAMLのフォーマットを変更
  .gitlab-ci.yml
Due: none

style: フォーマットを整理
  .github/workflows/regression.yaml
Due: none

fix
  .pre-commit-config.yaml
Due: none

style: 整形
  .github/workflows/regression.yaml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .yamlfmt
  config.example.yaml
  src/app.py
  tests/conftest.py
Due: deploy

fix: 設定ファイルのフォーマットチェックを追加
  config.schema
  pyproject.toml
  src/app.py
Due: deploy

fix
  .gitlab-ci.yml
  pyproject.toml
  src/app.py
Due: deploy

Path conditions:
  deploy: any of: pyoroject.json, src/**/*
  renovate: any of: renovate.json
